@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

/* Mobile view */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Lato, sans-serif;
  font-weight: 100;
}

.nav-wrapper li, .side-nav li {
  font-weight: 300;
}

.mail {
  padding-right: 1rem;
}

nav .brand-logo {
  font-weight: 300;
  font-size: 1.5rem;
}

.brand-logo, a, h1, h2 {
  text-transform: uppercase;
}

main {
  flex: 1 0 auto;
}

.full-name {
  padding-top: 10rem;
  text-align: center;
}

h1, h2 {
  font-weight: 300;
  color: rgb(77,77,77);
}

h1 {
  display: inline;
  font-size: 3rem;
  letter-spacing: 1rem;
  margin-right: -1rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .5rem;
  margin-right: -.5rem;
}

.last-name {
  color: #b2dfdb;
}

h3 {
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10rem;
  color: rgb(77, 77, 77);
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: .5rem;
  margin-right: -.5rem;
}

hr {
  margin-bottom: 5rem;
  width: 9rem;
  height: 0;
  border: 1.5px solid #b2dfdb;
}

.row {
  margin: 0 2rem;
}

.card-action a {
  font-weight: 500;
}

p {
  font-weight: 300;
  color: rgb(77,77,77);
}

.page-footer {
  margin-top: 5rem;
  padding: 0;
}

small {
  font-size: 1rem;
}

.footer-copyright {
  text-transform: uppercase;
}

.footer-copyright img {
  height: 2rem;
  padding-left: 1rem;
}

/* Desktop view */
@media only screen
and (min-device-width: 480px) {
  nav .brand-logo {
    font-size: 2rem;
    font-weight: 100;
  }
  .full-name {
    padding-top: 15rem;
  }
  h3 {
    padding-top: 15rem;
  }
}
